<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weatherly</title>
	<link rel="stylesheet" href="public/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com" type="text/css"/>
</head>
<body>
	<div class="container">
		<fieldset>
			<br action="/" method="post" autocomplete="off">
				<input type="text" name="city" placeholder="Enter a city" required class="ghost-input">
				<input id="submit" type="submit" value="Get weather" class="ghost-button">
			</form>
		</fieldset>

	</div>
</body>
</html>